html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

#main-container {
	display: table;
	width: 100%;
	height: 100%;
}

#sidebar {
	display: table-cell;
	width: 10%;
	vertical-align: top;
	background-color: #1f124d;
}

#sidebar a {
	display: block;
	padding: 5px;
	color: rgba(255, 255, 255, 0.5);
	margin: 15px 0 0 0;
	text-decoration: none;
}

#sidebar a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: white !important;
}

#content {
	display: table-cell;
	width: 100%;
	vertical-align: top;
	height: 2000px;
	padding: 10px 0 0 10px;
}

.flashed-message {
    font-weight: bold;
	width: max-content;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 10px;
	background-color: #f0b27a;
	text-align: center;
	padding: 10px
}

* {
	font-family: monospace;
}

hr {
	color: #ddd;
}

table {
	width: 100%;
}

th {
	background-color: #1f124d;
	color: white;
	border-radius: 10px;
}

th,
td {
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #aed6f1;
}

.linkbutton,
.deletelinkbutton {
	color: #1f124d;
	border: 1px solid #1f124d;
	border-radius: 10px;
	text-decoration: none;
	padding: 2px 6px 2px 6px;
}

.linkbutton:hover {
	background-color: #aed6f1;
	text-decoration: underline;
}

.deletelinkbutton:hover {
	background-color: #c0392b;
	text-decoration: underline;
}

.todo {
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 10px;
	background-color: #f0b27a;
	text-align: center
}